@import "./common.scss";

.headerbar-wrapper {
  background-color: #05092b;
  position: relative;
  text-align: left;
  padding: 20px 0;

  img {
    max-width: 50px;
    margin: auto;
    cursor: pointer;
  }
  .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .connect-btn {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    button {
      border-radius: 5px;
      padding: 8px 20px;
      min-width: 150px;
      background-image: linear-gradient(100deg, #3c1f68, #8271fc);
      position: relative;
      border: 2px solid #b6b2fa;
      box-shadow: none;
      &:hover, &:active, &:focus{
        background-image: linear-gradient(100deg, #39366a, #8581cb);
        border: 2px solid #b6b2fa;
      }
  }
  
    select {
      background-color: #070a2d;
      color: #fff;
      box-shadow: none;
      outline: none;
      font-size: 14px;
      padding: 5px 10px;
      font-weight: 400;
      text-transform: capitalize;
      border-radius: 4px;
      cursor: pointer;
      height: 42px;
      width: auto;
      margin-left: 10px;
      display: inline-block;
      border-image-source: linear-gradient(100deg, #b6b2fa, #8271fc);
      border-image-slice: 1;
      border-width: 2px;
      min-width: 150px;
      background-image: url("../img/arrow.png");
      background-size: auto;
    }
  }
}

.Finance-wrapper {
  padding: 80px 40px 60px;
  background: url(../img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;

  .fn-searchbar {
    text-align: center;

    h1 {
      color: #fff;
      font-size: 60px;
      font-weight: 500;
      margin-bottom: 25px;
      letter-spacing: 4px;

      b{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        background: -webkit-linear-gradient(#b6b2fa, #8271fc);
        background: linear-gradient(#b6b2fa, #8271fc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .searchbar {
      .input-group {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: #060612;
        box-shadow: none;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 40px;
        display: flex;
        align-items: center;
        max-width: 610px;
        margin: auto auto 20px auto;
        padding: 4px;

        .input-group-text {
          padding: 2px 4px;
          color: #6d55c3;
          box-shadow: none;
          outline: none;
          font-size: 20px;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: none;
          margin-left: 10px;
        }

        input {
          border: none;
          outline: none;
          box-shadow: none;
          color: #070a2d;
          font-size: 14px;
          background-color: transparent;
        }
      }

      .search-btn {
        .btn {
          margin: 0px 15px;
          background: transparent;
          text-transform: uppercase;
          position: relative;
          padding: 0 0 6px;
          &:hover:before{
            background: #a097fa;
          }
          &:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            bottom: 0;
            background: #fff;
          }
        }
      }
      .main-search{
        background: transparent;
        border: 2px solid #6d55c3;
        border-radius: 30px !important;
        padding: 5px 10px;
        min-width: 100px;
        color: #6d55c3;
        font-weight: 600;
        font-size: 13px;

        &:hover{
          background: #6d55c3;
          color: #fff;
        }
      }
    }
    .search-btn {
        padding: 14px 0 40px;
    }
  }

  .fn-table-box {
    margin-top: 20px;

    .rvn-table-wrap {
      .MuiPaper-root {
        background-color: #030b15;

        .MuiTable-root {
          background-color: #030b15;
          border: 2px solid #99c2ff;
          border-radius: 2px;

          tr {
            background-color: #030b15;

            th {
              color: #fff;
              border: none;
              font-weight: 600;

              &:first-child {
                border-top-left-radius: 10px;
                position: sticky;
                left: 0px;
                z-index: 101;
              }

              &:nth-child(2) {
                position: sticky;
                left: 38px;
                z-index: 101;
              }

              &:nth-child(3) {
                position: sticky;
                left: 81px;
                z-index: 101;
              }

              &:last-child {
                border-bottom-right-radius: 10px;
              }
            }

            td {
              color: #fff;
              font-family: 'Montserrat', sans-serif;
              border: none;
              padding-top: 8px;
              padding-bottom: 8px;

              &:first-child {
                position: sticky;
                left: 0px;
              }

              &:nth-child(2) {
                position: sticky;
                left: 38px;
                &:nth-child(2) span{
                  cursor: pointer;
                }
              }

              &:nth-child(3) {
                position: sticky;
                left: 90px;

                &:nth-child(3) span{
                  cursor: pointer;
                }
              }

              img {
                max-width: 100px;
              }
            }
          }
        }

        .MuiTableContainer-root {
          &+.MuiToolbar-root {
            display: none;
          }
        }
      }
    }

    .rvn-table-wrap2 {
      .MuiPaper-root {
        background-color: #030b15;

        .MuiTable-root {
          background-color: #030b15;
          border: 2px solid #99c2ff;
          border-radius: 2px;
          tr {
            background-color: #030b15;

            th {
              border: none;
              font-weight: 600;
              color: #fff;

              &:first-child {
                border-top-left-radius: 10px;
                position: sticky;
                left: 0px;
                z-index: 101;
              }

              &:nth-child(2) {
                position: sticky;
                left: 38px;
                z-index: 101;
              }

              &:nth-child(3) {
                position: sticky;
                left: 90px;
                z-index: 101;

                border-right: 1px solid rgb(219, 219, 219);
                box-shadow: 15px 0px 15px -10px #00000026;
              }

              &:last-child {
                border-bottom-right-radius: 10px;
              }
            }

            td {
              color: #fff;
              font-family: "Montserrat", sans-serif;
              border: none;
              padding-top: 8px;
              padding-bottom: 8px;

              &:first-child {
                position: sticky;
                left: 0px;
              }

              &:nth-child(2) {
                position: sticky;
                left: 38px;
              }

              &:nth-child(3) {
                position: sticky;
                left: 90px;
                border-right: 1px solid rgb(219, 219, 219);
                box-shadow: 15px 0px 15px -10px #00000026;
              }

              img {
                max-width: 100px;
              }
            }
          }
        }

        .MuiTableContainer-root {
          &+.MuiToolbar-root {
            display: none;
          }
        }
      }
    }
  }
}

.footer-wrapper {
  padding: 0px !important;
  background-image: linear-gradient(100deg, #250a4e, #8271fc);

  .our-cmt {
    text-align: center;
    padding: 0 0 30px;

    h1 {
      color: #fff;
      font-weight: 500;
      padding: 50px 0 20px;
      margin: 0;
    }

    p {
      color: #fff;
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
  .footer-social-icon {
    padding: 0 0 60px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;

      li {
        margin: 0px 6px;
        transition: all .2s ease;

        &:hover {
          transform: translateY(-4px);
          span svg{
            fill: #fff;
            color: #fff;
          }
        }

        span {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background: #000;

          svg {
            fill: #b4cedb;
            color: #b4cedb;
            font-size: 20px;
          }
        }
      }
    }
  }

  .ft-copyright {
    text-align: center;
    padding: 20px 0;
    background-color: #050821;

    p {
      color: #fff;
      font-size: 14px;
      margin-bottom: 0;
      &:nth-child(1){
        margin-bottom: 5px;
      }
    }
  }
}

.navigation-button-container {
  margin: 30px auto;
  color: #f3f3f3;
  max-width: 498px;
  min-width: 498px;

  h2 {
    font-weight: 500;
  }
}

.loader {
  text-align: center;

  div {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

}


.matricsview-layout {
  background-color: #050821;
  padding: 0px;
  padding: 40px 0px;

  .container {
    @media(max-width:1220px) {
      max-width: 100%;
    }
  }

  h2.heading {
    background: linear-gradient(#b6b2fa, #8271fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }

  .heading-view {
    margin: 20px 0px;

    ul {
      padding: 0px;
      margin: 0px;
      justify-content: center;
      align-items: center;

      li {
        color: #fff;
        font-size: 16px;
        margin: 0px 20px;

        img {
          width: auto;
          height: 20px;
          margin-right: 4px;
        }

        &.safemark {
          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }
  }

  .mt-chart-view {
    border: 2px solid #99c2ff;
    border-radius: 4px;
    background-color: #222632;
    padding: 0px;

    .chart-box {
      display: flex;
      flex-wrap: wrap;

      .swap-chart-view {
        width: 50%;

        .chart-view {
          text-align: center;
          border-right: 1px solid #99c2ff;
          border-bottom: 1px solid #99c2ff;
          padding: 25px 12px 10px 12px;

          .swap-chart {
            background-color: #05050a;
            border: 1px solid #b6b2fa;
            border-radius: 8px;
          }

          h2 {
            color: #c0b6ff;
            font-size: 18px;
            font-weight: 400;
            margin-top: 16px;
            margin-bottom: 8px;
          }
        }

        &:nth-child(2n) {
          .chart-view {
            border-right: none;

          }
        }

      }
    }

    .fcv-box-wrapper {
      padding: 20px 0px;

      .fcv-box {
        display: flex;

        .fcv-swap-field {
          width: 25%;
          padding-left: 15px;

          .fcv-swap-box {
            background: url(../img/bg-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            .fcv-text-field {
              text-align: center;
              padding-bottom: 30px;

              img {
                max-width: 80px;
                margin: auto;
              }

              h2 {
                color: #fff;
                font-size: 26px;
                font-weight: 700;
              }

              p {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                line-height: 21px;
              }

              .btn {
                border: 2px solid #99c2ff;
                background-color: #000000;
              }
            }
          }
        }

        .fcv-chart-value-field {
          width: 75%;

          ul {
            li {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              .name {
                color: #99c2ff;
                font-size: 15px;
                font-weight: 500;
                width: 50%;
                text-transform: capitalize;
              }

              .cht-value {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
              }
            }
          }

          .repeat-btn {
            border: none;
            box-shadow: none;
            background-color: transparent;
            padding: 0px;
            margin: auto auto auto 140px;
            display: block;

            svg {
              font-size: 32px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.swap-data-view {
  .swap-token-box {
    border: 2px solid #99c2ff;
    border-radius: 4px;
    background-color: #222632;
    padding: 20px;

    .heading {
      text-align: center;
      margin-bottom: 4px;

      h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      p {
        color: #2977db;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
      }
    }

    .cicon {
      border: 2px solid #7f7eb0;
      border-radius: 50%;
      background-color: transparent;
      width: 50px;
      height: 50px;
      margin: auto;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border: 2px solid #000002;
      }

      img {
        width: auto;
        height: 20px;
      }
    }

    .copyc {
      color: #99c2ff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0px 10px;

      svg {
        color: #99c2ff;
        font-size: 12px;
        margin-right: 2px;
      }
    }

    .tck-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        border: 2px solid #b6b2fa;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(100deg, #3c1f68, #8271fc);

        &:hover,
        &:focus,
        &:active {
          background-color: #043836;
          border: 2px solid #99c2ff;
        }

        img {
          width: auto;
          height: 20px;
        }
      }
    }
  }

  .swap-tc-value {
    border: 2px solid #99c2ff;
    border-radius: 4px;
    background-color: #000000;
    padding: 20px 0px 0px 0px;
    margin-top: 20px;

    .swap-tc-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px 20px 20px;

      .swtc-profile {
        display: flex;
        align-items: center;

        img {
          max-width: 40px;
          height: auto;
        }

        .swtc-title {
          margin-left: 8px;

          h2 {
            margin-bottom: 0px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
          }

          h3 {
            margin-bottom: 0px;
            color: #918382;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .swtc-value {
        text-align: right;

        h4 {
          margin-bottom: 0px;
          color: #918382;
          font-size: 16px;
          font-weight: 500;
        }

        h3 {
          margin-bottom: 0px;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
        }

        h2 {
          margin-bottom: 0px;
          color: #00a655;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .swap-tc-chart-value {
      padding-left: 20px;
      padding-right: 20px;

      ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 25%;
          margin-bottom: 13px;

          .name {
            color: #99c2ff;
            font-size: 16px;
            font-weight: 500;
            display: block;
          }

          .weekvalue {
            color: #ff15ab;
            font-size: 16px;
            font-weight: 500;
          }

          .value {
            color: #f1f1f1;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }

    .swap-ftitle {
      background-color: #0b0704;
      text-align: center;
      padding: 10px;
      border-top: 1px solid #a8a8a8;

      p {
        color: #ddd;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .matrics-sidebar-value {
    margin-top: 20px;

    .mtr-swap-value {
      ul {
        margin: 0px;
        padding: 0px;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .name {
            color: #99c2ff;
            font-size: 16px;
            font-weight: 500;
            width: 50%;
          }

          .value {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }

    .matrics-tax-value {
      h3 {
        color: #99c2ff;
        font-size: 16px;
        font-weight: 500;
      }

      .mtc-tax-field {
        .tax-field {
          display: flex;
          align-items: baseline;
          margin-bottom: 15px;

          h3 {
            width: 50%;
          }

          .tax-value-field {
            width: 50%;

            select {
              font-weight: 600;
              background-image: url("../img/arrow.png");
              background-size: auto;
              background-repeat: no-repeat;
            }

            select,
            input {
              background-color: #1f2732;
              border-radius: 16px;
              border: 2px solid #99c2ff;
              color: #fff;
              font-size: 16px;
              width: 100%;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}